In [32]:
import pandas as pd

datos = pd.read_csv('resources/properati-AR-2017-08-01-properties-sell.csv')

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 27 columns):
id                            187482 non-null object
created_on                    187482 non-null object
operation                     187482 non-null object
property_type                 187482 non-null object
place_name                    187447 non-null object
place_with_parent_names       187482 non-null object
country_name                  187482 non-null object
state_name                    187482 non-null object
geonames_id                   158318 non-null float64
lat-lon                       118761 non-null object
lat                           118761 non-null float64
lon                           118761 non-null float64
price                         154443 non-null float64
currency                      154441 non-null object
price_aprox_local_currency    154443 non-null float64
price_aprox_usd               154443 non-null float64
surface_total_in_m2           125027 non-null float64
surface_covered_in_m2         152420 non-null float64
price_usd_per_m2              105024 non-null float64
price_per_m2                  131665 non-null float64
floor                         14294 non-null float64
rooms                         80320 non-null float64
expenses                      17520 non-null float64
properati_url                 187482 non-null object
description                   187473 non-null object
title                         187482 non-null object
image_thumbnail               182814 non-null object
dtypes: float64(13), object(14)
memory usage: 38.6+ MB

# Limpieza y Preparación de Datos

In [33]:
#Elimino columnas innecesarias, que son relativas al sitio web.
datos = datos.drop(['id', 'created_on', 'properati_url', 'image_thumbnail'],axis=1)
datos.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
0,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,NaN,NaN,...,120000.0,333.0,93.0,360.360360,1290.322581,NaN,NaN,NaN,CASA CON LOCAL EN VENTA EN PADUA.2 DORMITORIOS...,CASA EN VENTA
1,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,3429244.0,NaN,NaN,NaN,...,220000.0,220.0,220.0,1000.000000,1000.000000,NaN,NaN,NaN,CHALET VENTA 4 AMBIENTES PADUA.EXCELENTE CHALE...,CASA EN VENTA
2,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0199509,-57.5265733",-38.019951,-57.526573,...,NaN,NaN,42.0,NaN,NaN,NaN,2.0,NaN,DTO. 2 AMB. C/ VISTA PLENA AL 6 X 3DOMITORIO ...,DTO. 2 AMB. C/ VISTA PLENA AL MAR
3,sell,house,Sierra de los Padres,|Argentina|Buenos Aires Interior|General Pueyr...,Argentina,Buenos Aires Interior,3427958.0,"-37.9511934894,-57.7752885836",-37.951193,-57.775289,...,NaN,661.0,265.0,NaN,NaN,NaN,6.0,NaN,PROPIEDAD DE CATEGORIA CUENTA CON: 4 DORMITOR...,CHALET EN VENTA
4,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6544492346,-58.4895603251",-34.654449,-58.489560,...,185000.0,300.0,103.0,616.666667,1796.116505,NaN,5.0,NaN,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA

In [28]:
#Verificamos datos
print(datos['country_name'].unique())
#Sabemos que solo hay un pais: Argentina

['Argentina']

In [7]:
print(datos['state_name'].unique())

['Bs.As. G.B.A. Zona Oeste' 'Buenos Aires Costa Atlántica'
 'Buenos Aires Interior' 'Capital Federal' 'Bs.As. G.B.A. Zona Norte'
 'Neuquén' 'Río Negro' 'Chubut' 'Misiones' 'Bs.As. G.B.A. Zona Sur'
 'San Luis' 'Salta' 'Córdoba' 'La Pampa' 'Corrientes' 'Santa Fe'
 'Entre Ríos' 'Chaco' 'Mendoza' 'Tierra Del Fuego' 'Formosa' 'San Juan'
 'Tucumán' 'Catamarca' 'Santa Cruz' 'Jujuy' 'La Rioja'
 'Santiago Del Estero']

In [34]:
#Datos BUENOS AIRES
datosBUE = datos[datos['state_name'].str.startswith('B')]
print(datosBUE['state_name'].unique())

['Bs.As. G.B.A. Zona Oeste' 'Buenos Aires Costa Atlántica'
 'Buenos Aires Interior' 'Bs.As. G.B.A. Zona Norte'
 'Bs.As. G.B.A. Zona Sur']

In [35]:
#Datos Capital Federal
datosCapital = datos[datos['state_name'] == 'Capital Federal']
datosCapital.head()

,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,lon,...,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
4,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6544492346,-58.4895603251",-34.654449,-58.489560,...,185000.0,300.0,103.0,616.666667,1796.116505,NaN,5.0,NaN,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA
42,sell,house,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,3436134.0,"-34.6514583,-58.3773545",-34.651458,-58.377355,...,140000.0,152.0,152.0,921.052632,921.052632,NaN,4.0,NaN,SANTIAGO JANNOT PROP. - - SRA. ALICIA 15-CA...,CASA EN VENTA
107,sell,house,Paternal,|Argentina|Capital Federal|Paternal|,Argentina,Capital Federal,3430087.0,"-34.5951191,-58.4653876",-34.595119,-58.465388,...,210000.0,158.0,200.0,1329.113924,1050.000000,NaN,4.0,NaN,Hermosa casa en dos plantas reciclada a nueva ...,hermosa propiedad
162,sell,apartment,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,3436134.0,"-34.6346787,-58.3710911",-34.634679,-58.371091,...,80000.0,60.0,60.0,1333.333333,1333.333333,NaN,2.0,NaN,"Departamento en torre con living comedor,cocin...",Departamento
189,sell,apartment,Congreso,|Argentina|Capital Federal|Congreso|,Argentina,Capital Federal,3435259.0,"-34.6101819118,-58.3947372437",-34.610182,-58.394737,...,138000.0,84.0,79.0,1642.857143,1746.835443,NaN,3.0,NaN,"EXCELENTE 3 AMBIENTES AL FRENTE, CON BALCN. IM...",EDIFICIO DE EPOCA EN IMPECABLE ESTADO SUPER AM...