In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#CVS A CARGAR


#agosto13 = pd.read_csv('resources/properati-AR-2013-08-01-properties-sell.csv')
#septiembre13 = pd.read_csv('resources/properati-AR-2013-09-01-properties-sell.csv')
#octubre13 = pd.read_csv('resources/properati-AR-2013-10-01-properties-sell.csv')
#noviembre13 = pd.read_csv('resources/properati-AR-2013-11-01-properties-sell.csv')
#diciembre13 = pd.read_csv('resources/properati-AR-2013-12-01-properties-sell.csv')
#enero14 = pd.read_csv('resources/properati-AR-2014-01-01-properties-sell.csv')
#febrero14 = pd.read_csv('resources/properati-AR-2014-02-01-properties-sell.csv')
#marzo14 = pd.read_csv('resources/properati-AR-2014-03-01-properties-sell.csv')
#abril14 = pd.read_csv('resources/properati-AR-2014-04-01-properties-sell.csv')
#mayo14 = pd.read_csv('resources/properati-AR-2014-05-01-properties-sell.csv')
#junio14 = pd.read_csv('resources/properati-AR-2014-06-01-properties-sell.csv')
#enero15 = pd.read_csv('resources/properati-AR-2015-01-01-properties-sell-six_months.csv')
#agosto15 = pd.read_csv('resources/properati-AR-2015-08-01-properties-sell-six_months.csv')
#marzo16 = pd.read_csv('resources/properati-AR-2016-03-01-properties-sell-six_months.csv')
#abril16 = pd.read_csv('resources/properati-AR-2016-04-01-properties-sell.csv')
#mayo16 = pd.read_csv('resources/properati-AR-2016-05-01-properties-sell.csv')
#junio16 = pd.read_csv('resources/properati-AR-2016-06-01-properties-sell.csv')
#enero17 = pd.read_csv('resources/properati-AR-2017-07-01-properties-sell-six_months.csv')
#agosto17 = pd.read_csv('resources/properati-AR-2017-08-01-properties-sell.csv')

#datos = pd.concat([agosto13, septiembre13, octubre13, noviembre13, diciembre13, enero14, febrero14, \
#                          marzo14, abril14, mayo14, junio14, enero15, agosto15, marzo16, abril16, mayo16, \
#                          junio16, enero17, agosto17])

datos = pd.read_csv('resources/properati-AR-2017-08-01-properties-sell.csv')

In [3]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187482 entries, 0 to 187481
Data columns (total 27 columns):
id                            187482 non-null object
created_on                    187482 non-null object
operation                     187482 non-null object
property_type                 187482 non-null object
place_name                    187447 non-null object
place_with_parent_names       187482 non-null object
country_name                  187482 non-null object
state_name                    187482 non-null object
geonames_id                   158318 non-null float64
lat-lon                       118761 non-null object
lat                           118761 non-null float64
lon                           118761 non-null float64
price                         154443 non-null float64
currency                      154441 non-null object
price_aprox_local_currency    154443 non-null float64
price_aprox_usd               154443 non-null float64
surface_total_in_m2           125027 non-null float64
surface_covered_in_m2         152420 non-null float64
price_usd_per_m2              105024 non-null float64
price_per_m2                  131665 non-null float64
floor                         14294 non-null float64
rooms                         80320 non-null float64
expenses                      17520 non-null float64
properati_url                 187482 non-null object
description                   187473 non-null object
title                         187482 non-null object
image_thumbnail               182814 non-null object
dtypes: float64(13), object(14)
memory usage: 38.6+ MB

# Limpieza y Preparación de Datos

In [4]:
#Elimino columnas innecesarias, que son relativas al sitio web.
datos = datos.drop(['id', 'properati_url', 'image_thumbnail', 'geonames_id'],axis=1)

#datos = datos.loc[:,['created_on', 'description', 'floor', 'place_name', 'place_with_parent_names', \
#                                 'price_aprox_usd', 'price_usd_per_m2', 'property_type', 'rooms', 'surface_in_m2']]

#datos.columns = ['fecha', 'descripcion', 'piso', 'localidad', 'lugar', 'precio', 'precio_por_m2',\
#'tipo_propiedad', 'habitaciones', 'superficie_m2']

datos['created_on'] = pd.to_datetime(datos['created_on'], errors='coerce')

datos.head()

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
0,2012-09-19,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,NaN,NaN,NaN,...,120000.0,333.0,93.0,360.360360,1290.322581,NaN,NaN,NaN,CASA CON LOCAL EN VENTA EN PADUA.2 DORMITORIOS...,CASA EN VENTA
1,2012-10-22,sell,house,San Antonio De Padua,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|San ...,Argentina,Bs.As. G.B.A. Zona Oeste,NaN,NaN,NaN,...,220000.0,220.0,220.0,1000.000000,1000.000000,NaN,NaN,NaN,CHALET VENTA 4 AMBIENTES PADUA.EXCELENTE CHALE...,CASA EN VENTA
2,2012-11-01,sell,apartment,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,"-38.0199509,-57.5265733",-38.019951,-57.526573,...,NaN,NaN,42.0,NaN,NaN,NaN,2.0,NaN,DTO. 2 AMB. C/ VISTA PLENA AL 6 X 3DOMITORIO ...,DTO. 2 AMB. C/ VISTA PLENA AL MAR
3,2012-11-26,sell,house,Sierra de los Padres,|Argentina|Buenos Aires Interior|General Pueyr...,Argentina,Buenos Aires Interior,"-37.9511934894,-57.7752885836",-37.951193,-57.775289,...,NaN,661.0,265.0,NaN,NaN,NaN,6.0,NaN,PROPIEDAD DE CATEGORIA CUENTA CON: 4 DORMITOR...,CHALET EN VENTA
4,2012-12-08,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6544492346,-58.4895603251",-34.654449,-58.489560,...,185000.0,300.0,103.0,616.666667,1796.116505,NaN,5.0,NaN,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA

In [5]:
#Verificamos datos
print(datos['country_name'].unique())
#Sabemos que solo hay un pais: Argentina

['Argentina']

In [6]:
print(datos['state_name'].unique())

['Bs.As. G.B.A. Zona Oeste' 'Buenos Aires Costa Atlántica'
 'Buenos Aires Interior' 'Capital Federal' 'Bs.As. G.B.A. Zona Norte'
 'Neuquén' 'Río Negro' 'Chubut' 'Misiones' 'Bs.As. G.B.A. Zona Sur'
 'San Luis' 'Salta' 'Córdoba' 'La Pampa' 'Corrientes' 'Santa Fe'
 'Entre Ríos' 'Chaco' 'Mendoza' 'Tierra Del Fuego' 'Formosa' 'San Juan'
 'Tucumán' 'Catamarca' 'Santa Cruz' 'Jujuy' 'La Rioja'
 'Santiago Del Estero']

In [7]:
#Ya que filtraremos las propiedades por lugar, nos fijamos que no haya nulos en ese campo
datos.loc[datos['place_with_parent_names'].isnull(),['place_with_parent_names']].count()

place_with_parent_names    0
dtype: int64

In [5]:
#Tenemos que remover todos aquellos datos que no tienen precio, puesto que no aportan al análisis. 

datos =datos[datos['price'] > 10000]

#Removemos tambien superficies anómalas
datos = datos[datos['surface_covered_in_m2'] > 20]

datos = datos[datos['surface_total_in_m2'] > 20]

In [6]:
#Eliminamos duplicados
datos = datos.drop_duplicates()

# Separación de datos en datasets

In [7]:
#Datos BUENOS AIRES
datosBUE = datos[datos['state_name'].str.startswith('B')]
print(datosBUE['state_name'].unique())

['Bs.As. G.B.A. Zona Oeste' 'Bs.As. G.B.A. Zona Norte'
 'Bs.As. G.B.A. Zona Sur' 'Buenos Aires Costa Atlántica'
 'Buenos Aires Interior']

In [8]:
print(datos['property_type'].unique())

['house' 'apartment' 'PH' 'store']

In [9]:
#Datos Capital Federal
datosCapital = datos[datos['state_name'] == 'Capital Federal']
datosCapital.head()

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title
4,2012-12-08,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6544492346,-58.4895603251",-34.654449,-58.489560,...,185000.0,300.0,103.0,616.666667,1796.116505,NaN,5.0,NaN,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA
42,2013-05-05,sell,house,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6514583,-58.3773545",-34.651458,-58.377355,...,140000.0,152.0,152.0,921.052632,921.052632,NaN,4.0,NaN,SANTIAGO JANNOT PROP. - - SRA. ALICIA 15-CA...,CASA EN VENTA
107,2013-05-24,sell,house,Paternal,|Argentina|Capital Federal|Paternal|,Argentina,Capital Federal,"-34.5951191,-58.4653876",-34.595119,-58.465388,...,210000.0,158.0,200.0,1329.113924,1050.000000,NaN,4.0,NaN,Hermosa casa en dos plantas reciclada a nueva ...,hermosa propiedad
162,2013-05-24,sell,apartment,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6346787,-58.3710911",-34.634679,-58.371091,...,80000.0,60.0,60.0,1333.333333,1333.333333,NaN,2.0,NaN,"Departamento en torre con living comedor,cocin...",Departamento
189,2013-05-24,sell,apartment,Congreso,|Argentina|Capital Federal|Congreso|,Argentina,Capital Federal,"-34.6101819118,-58.3947372437",-34.610182,-58.394737,...,138000.0,84.0,79.0,1642.857143,1746.835443,NaN,3.0,NaN,"EXCELENTE 3 AMBIENTES AL FRENTE, CON BALCN. IM...",EDIFICIO DE EPOCA EN IMPECABLE ESTADO SUPER AM...

# Cantidades

In [13]:
#Cantidad de ventas por zona
datosCapital['total'] = 1
totalDatosCapitalByPlaces = datosCapital.groupby(['place_name', 'property_type']).sum()
totalDatosCapitalByPlaces = totalDatosCapitalByPlaces[['total']].reset_index()
#totalDatosCapitalByPlaces = totalDatosCapitalByPlaces.sort_values('total', ascending=False)
totalApartamentos =  totalDatosCapitalByPlaces[totalDatosCapitalByPlaces['property_type'] == 'apartment']
totalApartamentos.sort_values('total', ascending=False).head(10)

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        place_name property_type  total
25        Belgrano     apartment   2269
105        Palermo     apartment   2111
37       Caballito     apartment   1826
156       Recoleta     apartment   1414
189   Villa Crespo     apartment   1155
230  Villa Urquiza     apartment   1126
70          Flores     apartment   1011
21    Barrio Norte     apartment   1011
175      San Telmo     apartment    974
9          Almagro     apartment    962

In [14]:
totalCasas = totalDatosCapitalByPlaces[totalDatosCapitalByPlaces['property_type'] == 'house']
totalCasas.sort_values('total', ascending=False).head(10)

          place_name property_type  total
42   Capital Federal         house    887
26          Belgrano         house    115
87         Mataderos         house    105
71            Flores         house     86
194     Villa Devoto         house     59
38         Caballito         house     57
18          Barracas         house     54
75          Floresta         house     53
201     Villa Lugano         house     52
106          Palermo         house     51

In [15]:
totalPH = totalDatosCapitalByPlaces[totalDatosCapitalByPlaces['property_type'] == 'PH']
totalPH.sort_values('total', ascending=False).head(10)

           place_name property_type  total
85          Mataderos            PH    114
104           Palermo            PH     87
8             Almagro            PH     87
69             Flores            PH     79
188      Villa Crespo            PH     79
229     Villa Urquiza            PH     74
36          Caballito            PH     70
73           Floresta            PH     69
132  Parque Chacabuco            PH     60
81            Liniers            PH     59

In [16]:
totalStore = totalDatosCapitalByPlaces[totalDatosCapitalByPlaces['property_type'] == 'store']
totalStore.sort_values('total', ascending=False).head(10)

               place_name property_type  total
107               Palermo         store    111
191          Villa Crespo         store     91
158              Recoleta         store     78
48   Centro / Microcentro         store     71
177             San Telmo         store     66
72                 Flores         store     55
43        Capital Federal         store     52
23           Barrio Norte         store     48
92              Monserrat         store     46
15              Balvanera         store     44

## Precios por M2

In [17]:
#Precios En Capital Federal
datosCapital.sort_values('price_per_m2', ascending=False)

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,total
130239,2017-07-19,sell,store,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Departamento - L.De Nuñez,1
130238,2017-07-19,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Departamento - L.De Nuñez,1
130241,2017-07-19,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,UF 4A CHATEU LIBERTADOR,1
130244,2017-07-19,sell,store,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Local - L.De Nuñez,1
184530,2017-07-29,sell,apartment,Recoleta,|Argentina|Capital Federal|Recoleta|,Argentina,Capital Federal,"-34.601094524,-58.3981180792",-34.601095,-58.398118,...,50.0,42.0,10582.541000,224633.333333,NaN,NaN,NaN,"Departamento 50m² en Viamonte 2168, Capital Fe...",Departamento - Recoleta,1
92744,2017-04-28,sell,apartment,Boedo,|Argentina|Capital Federal|Boedo|,Argentina,Capital Federal,"-34.6222039,-58.416089",-34.622204,-58.416089,...,33.0,33.0,206333.333333,206333.333333,NaN,1.0,NaN,Departamento 1 ambiente divisible Depto en CU...,"Tu depa, ingresa con $ 29.000 y cuotas en pesos",1
92144,2017-04-28,sell,apartment,Boedo,|Argentina|Capital Federal|Boedo|,Argentina,Capital Federal,NaN,NaN,NaN,...,30.0,30.0,173826.066667,173826.066667,NaN,1.0,NaN,lan840- DEPTO FINANCIACION DIRECTA EN PESOSAnt...,lan840- DEPTO FINANCIACION DIRECTA EN PESOS,1
142359,2017-07-19,sell,apartment,Colegiales,|Argentina|Capital Federal|Colegiales|,Argentina,Capital Federal,"-34.574537,-58.4554388",-34.574537,-58.455439,...,88.0,25.0,2734.615227,171633.640000,7.0,NaN,NaN,EDIFICIO VIRREY LORETOEn Pozo.Posesión Febrero...,DEPARTAMENTO EN VENTA,1
142358,2017-07-19,sell,apartment,Colegiales,|Argentina|Capital Federal|Colegiales|,Argentina,Capital Federal,"-34.574537,-58.4554388",-34.574537,-58.455439,...,178.0,61.0,2767.538146,143994.967213,3.0,NaN,NaN,EDIFICIO VIRREY LORETOEn Pozo.Posesión Febrero...,DEPARTAMENTO EN VENTA,1
124811,2017-07-07,sell,apartment,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,"-34.5817873,-58.4224832",-34.581787,-58.422483,...,35.0,35.0,8068.237714,143860.714286,NaN,1.0,NaN,Conservando la fachada clásica de la casa ubic...,Clásico y contemporáneo,1
162844,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,73.0,53.0,4883.920137,119944.150943,NaN,NaN,NaN,Departamento residencial y apto profesional. E...,Departamento - Retiro,1
138580,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,296.0,169.0,3830.917162,119638.591716,NaN,NaN,NaN,VENTA DUPLEX DE CATEGORIA DE 4 AMBIENTES CON E...,"VENTA DUPLEX 4 AMBIENTES C/ESCRITORIO, DEPENDE...",1
162828,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,99.0,80.0,4894.251313,107992.850000,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
162811,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,99.0,80.0,4877.795556,107629.750000,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
152336,2017-07-19,sell,apartment,San Telmo,|Argentina|Capital Federal|San Telmo|,Argentina,Capital Federal,NaN,NaN,NaN,...,87.0,44.0,3048.032414,107460.704545,NaN,NaN,NaN,ASTILLERO se encontrará emplazado en Madero Su...,Departamento - 2 Ambientes - Madero Sur,1
152327,2017-07-19,sell,apartment,San Telmo,|Argentina|Capital Federal|San Telmo|,Argentina,Capital Federal,NaN,NaN,NaN,...,97.0,49.0,3042.921031,107406.326531,NaN,NaN,NaN,ASTILLERO se encontrará emplazado en Madero Su...,Departamento - 2 Ambientes - Madero Sur,1
140966,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,89.0,68.0,4600.804831,107368.882353,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
162796,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,144.0,138.0,5747.251458,106931.862319,NaN,NaN,NaN,Ampilio departamento o oficina con la posibili...,Departamento - Retiro,1
162744,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,144.0,138.0,5692.183125,105907.275362,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
162776,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,99.0,80.0,4789.897778,105690.262500,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
92300,2017-04-28,sell,apartment,Boedo,|Argentina|Capital Federal|Boedo|,Argentina,Capital Federal,NaN,NaN,NaN,...,35.0,35.0,104486.114286,104486.114286,NaN,1.0,NaN,fac030- Depto anticipo en 10 meses y saldo en ...,fac030- Depto anticipo en 10 meses y saldo en ...,1
140950,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,89.0,68.0,4466.800787,104241.632353,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
138555,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,162.0,98.0,3509.386543,103438.846939,NaN,NaN,NaN,BELGRANO - DUPLEX EN VENTA DE 3 AMBIENTES C/AZ...,BELGRANO - DUPLEX EN VENTA DE 3 AMBIENTES C/AZ...,1
140982,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5585788,-58.4460492",-34.558579,-58.446049,...,88.0,70.0,4543.803182,101851.557143,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
140935,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,89.0,68.0,4336.699888,101205.470588,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
162691,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,73.0,69.0,5262.397397,99270.666667,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
140547,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5585788,-58.4460492",-34.558579,-58.446049,...,88.0,70.0,4411.459091,98885.000000,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
144437,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,60.0,52.0,4788.565333,98518.288462,NaN,NaN,NaN,EN CONSTRUCCION PALACIO ROCCATAGLIATA - DEPART...,EN CONSTRUCCION PALACIO ROCCATAGLIATA - DEPART...,1
140929,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,89.0,68.0,4210.388090,98257.735294,NaN,NaN,NaN,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,BELGRANO - DEPARTAMENTO EN VENTA DE 3 AMBIENTE...,1
162677,2017-07-19,sell,apartment,Retiro,|Argentina|Capital Federal|Retiro|,Argentina,Capital Federal,NaN,NaN,NaN,...,144.0,138.0,5250.854444,97696.028986,NaN,NaN,NaN,Amplio departamento o oficina con la posibilid...,Departamento - Retiro,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7753,2014-12-01,sell,house,Parque Chacabuco,|Argentina|Capital Federal|Parque Chacabuco|,Argentina,Capital Federal,"-34.6371407,-58.4295028",-34.637141,-58.429503,...,690.0,550.0,362.318841,454.545455,NaN,6.0,NaN,En venta CASA con GALPÓN en PARQUE CHACABUCO. ...,CASA EN VENTA,1
90976,2017-04-28,sell,apartment,Villa Lugano,|Argentina|Capital Federal|Villa Lugano|,Argentina,Capital Federal,"-34.6767251,-58.4964088",-34.676725,-58.496409,...,340.0,300.0,367.647059,416.666667,NaN,5.0,NaN,SON 2 PH UBICADOS EN SALADILLO 5100 ENTRE AV. ...,2 PH 7 AMBIENTES VILLA LUGANO,1
90969,2017-04-28,sell,apartment,Villa Lugano,|Argentina|Capital Federal|Villa Lugano|,Argentina,Capital Federal,"-34.6776892,-58.4918021",-34.677689,-58.491802,...,60.0,60.0,405.000000,405.000000,NaN,4.0,NaN,.Publicado por GUAMINI PROPIEDADES a traves I...,SE VENDE DPTO 4 AMB BARRIO PIEDRABUENA,1
73495,2017-02-22,sell,house,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6460667,-58.3839019",-34.646067,-58.383902,...,710.0,710.0,401.408451,401.408451,NaN,NaN,NaN,Excelente Edificio en Block constituido por 4 ...,Excelente Edificio en Block :: Ideal inversión...,1
51329,2016-11-17,sell,store,Flores,|Argentina|Capital Federal|Flores|,Argentina,Capital Federal,"-34.6374837,-58.4601452",-34.637484,-58.460145,...,800.0,800.0,375.000000,375.000000,NaN,NaN,NaN,Av. Carabobo 527 Local 1.100 M2 / primer piso ...,Av. Carabobo 527 Local 1.100 M2 / primer piso ...,1
51330,2016-11-17,sell,store,Parque Chacabuco,|Argentina|Capital Federal|Parque Chacabuco|,Argentina,Capital Federal,"-34.6359102,-58.4373115",-34.635910,-58.437311,...,800.0,800.0,375.000000,375.000000,NaN,NaN,NaN,Av. Carabobo 527 Local 1.100 M2 / primer piso ...,Av. Carabobo 500 - Parque Chacabuco - Capital ...,1
51331,2016-11-17,sell,store,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,"-34.6209278,-58.4458736",-34.620928,-58.445874,...,800.0,800.0,375.000000,375.000000,NaN,NaN,NaN,Av. Carabobo 527 Local 1.100 M2 / primer piso ...,Av. Carabobo 500 - Caballito - Capital Federal,1
70995,2017-02-10,sell,house,Boca,|Argentina|Capital Federal|Boca|,Argentina,Capital Federal,"-34.6370988,-58.3582907",-34.637099,-58.358291,...,524.0,524.0,343.511450,343.511450,NaN,NaN,NaN,Casa en lote propio de 8.44 de frente por 36.3...,Casa en terreno propio con 6 departamentos,1
51627,2016-11-18,sell,apartment,Villa Pueyrredón,|Argentina|Capital Federal|Villa Pueyrredón|,Argentina,Capital Federal,"-34.5769858529,-58.5069353707",-34.576986,-58.506935,...,922.0,482.0,161.138829,308.236515,3.0,NaN,NaN,"Departamento de categorÃ­aPrecioso entorno, ex...",Departamento 922m² con 2 Plantas en Escobar 27...,1
187231,2017-08-01,sell,apartment,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,NaN,NaN,NaN,...,115.0,62.0,140.000000,259.677419,NaN,NaN,NaN,Departamentos Semipisos en Venta de 3 ambiente...,Departamento - P.Avellaneda,1
76608,2017-03-09,sell,house,Boca,|Argentina|Capital Federal|Boca|,Argentina,Capital Federal,"-34.6344961,-58.3631337",-34.634496,-58.363134,...,525.0,525.0,257.142857,257.142857,NaN,NaN,NaN,Casa en lote propio de 8.44 de frente por 36.3...,casa multifamiliar en la boca,1
40944,2016-08-29,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6582657,-58.5038296",-34.658266,-58.503830,...,190.0,300.0,394.736842,250.000000,NaN,NaN,NaN,CODIGO: 709-CS201160 ubicado en: Santa Maria 2...,Casa de cuatro ambientes en Del Viso,1
83452,2017-04-03,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5362412,-58.4680035",-34.536241,-58.468004,...,92.0,92.0,250.000000,250.000000,NaN,NaN,NaN,"Exclusivo dúplex de 92m2, que consta de 3 ambi...",DUPLEX DE 3 AMBIENTES EN EXCELENTE ESTADO,1
99001,2017-05-12,sell,house,Boca,|Argentina|Capital Federal|Boca|,Argentina,Capital Federal,"-34.638404,-58.366496",-34.638404,-58.366496,...,466.0,466.0,214.592275,214.592275,NaN,NaN,NaN,A metros de la renovada Av. Patricios donde se...,Casa Tipica Boquense con renta,1
2816,2014-03-25,sell,house,Boca,|Argentina|Capital Federal|Boca|,Argentina,Capital Federal,"-34.6369921,-58.3666496",-34.636992,-58.366650,...,600.0,500.0,175.000000,210.000000,NaN,NaN,NaN,CODIGO: 1364-010 ubicado en: Irala al 900 - P...,"Casa en Venta en La Boca, Capital Federal",1
132211,2017-07-19,sell,store,Parque Patricios,|Argentina|Capital Federal|Parque Patricios|,Argentina,Capital Federal,"-34.6365734987,-58.4002918952",-34.636573,-58.400292,...,86.0,86.0,129.197674,129.197674,NaN,NaN,NaN,Importante Desarrollo de Local y Oficinas de p...,Luna 24 - Local Comercial de Pozo,1
172134,2017-07-19,sell,store,Palermo,|Argentina|Capital Federal|Palermo|,Argentina,Capital Federal,"-34.567025089,-58.4329267838",-34.567025,-58.432927,...,270.0,230.0,105.555556,123.913043,NaN,NaN,NaN,"VENTA FONDO DE COMERCIO EN LAS CAÑITAS, SOBRE ...",venta FONDO DE COMERCIO en Las Cañitas,1
72553,2017-02-17,sell,store,Centro / Microcentro,|Argentina|Capital Federal|Centro / Microcentro|,Argentina,Capital Federal,"-34.6128131,-58.3762089",-34.612813,-58.376209,...,300.0,300.0,116.666667,116.666667,NaN,NaN,NaN,"LOCALVenta de Local en Centro / Microcentro, C...",LOCAL EN VENTA,1
72554,2017-02-17,sell,store,Centro / Microcentro,|Argentina|Capital Federal|Centro / Microcentro|,Argentina,Capital Federal,"-34.6128131,-58.3762089",-34.612813,-58.376209,...,300.0,300.0,116.666667,116.666667,NaN,NaN,NaN,LOCALVenta de Fonde de Comercio en Centro / M...,LOCAL EN VENTA,1
94592,2017-05-03,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,NaN,NaN,NaN,...,75.0,3673.0,2533.333333,51.728832,NaN,3.0,NaN,"COMODIDADES: Hermoso departamento, Balcn corri...",Venta 3 Ambientes c/ cochera.U Av. Daz Velez 4...,1
112816,2017-06-14,sell,apartment,Monserrat,|Argentina|Capital Federal|Monserrat|,Argentina,Capital Federal,"-34.6084166,-58.3709768",-34.608417,-58.370977,...,598.0,598.0,49.000000,49.000000,NaN,NaN,NaN,"¿Querés vivir rodeado de paz ,paisajes natural...",Barrio Privado,1
58783,2016-12-22,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,"-34.5680389,-58.4529779",-34.568039,-58.452978,...,5250.0,4250.0,38.000000,46.941176,NaN,NaN,NaN,CODIGO: ubicado en: VIRREY OLAGUER 2550 - Pu...,VENTA CAPITAL FEDERAL VIRREY OLAGUER 2550 B...,1
132733,2017-07-19,sell,store,Parque Patricios,|Argentina|Capital Federal|Parque Patricios|,Argentina,Capital Federal,NaN,NaN,NaN,...,4229.0,4229.0,26.273587,26.273587,NaN,NaN,NaN,Galpón con importante frente ubicado en Distr...,Depósito - Barracas,1
50998,2016-11-15,sell,apartment,Villa Pueyrredón,|Argentina|Capital Federal|Villa Pueyrredón|,Argentina,Capital Federal,"-34.5769858529,-58.5069353707",-34.576986,-58.506935,...,6680.0,4680.0,17.407186,24.846154,2.0,NaN,NaN,"Fideicomiso al costo.Excelente ubicaciÃ³n, cer...",Departamento 6680m² con Cochera en Escobar 270...,1
131718,2017-07-19,sell,store,Parque Patricios,|Argentina|Capital Federal|Parque Patricios|,Argentina,Capital Federal,NaN,NaN,NaN,...,4590.0,4590.0,24.207190,24.207190,NaN,NaN,NaN,Edificio Premium Se trata de un Edificio de G...,OFICINAS AAA - DISTRITO TECNOLOGICO,1
5219,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5728570494,-58.4862112999",-34.572857,-58.486211,...,6730.0,6410.0,18.573551,19.500780,NaN,NaN,NaN,CODIGO: 129-002 ubicado en: Diaz Coldrero 2527...,"Departamento en Venta en Villa Urquiza, Capita...",1
5217,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5697166865,-58.4881185978",-34.569717,-58.488119,...,8395.0,7415.0,13.936867,15.778827,NaN,NaN,NaN,CODIGO: 129-007 ubicado en: Lebreton 4965 - P...,"Departamento en Venta en Villa Urquiza, Capita...",1
5215,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5710195196,-58.4886789322",-34.571020,-58.488679,...,4187.0,3737.0,13.971818,15.654268,NaN,NaN,NaN,CODIGO: 129-005 ubicado en: Lebretón 4965 - P...,"Departamento en Venta en Villa Urquiza, Capita...",1
5216,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5697166865,-58.4881185978",-34.569717,-58.488119,...,5553.0,5053.0,13.956420,15.337423,NaN,NaN,NaN,CODIGO: 129-006 ubicado en: Lebreton 4965 - P...,"Departamento en Venta en Villa Urquiza, Capita...",1
3835,2014-03-25,sell,store,San Cristobal,|Argentina|Capital Federal|San Cristobal|,Argentina,Capital Federal,"-34.6236204072,-58.40269804",-34.623620,-58.402698,...,298.0,22518.0,1070.469799,14.166445,NaN,NaN,NaN,CODIGO: 464-02 ubicado en: Av. San Juan al 270...,"Local Comercial en Venta en San Cristobal, Cap...",1

In [18]:
datosCapitalByM2 = datosCapital.groupby(['place_name','property_type']).mean()
datosCapitalByM2 = datosCapitalByM2[['price_per_m2', 'rooms']].reset_index()
datosCapitalByM2.sort_values('price_per_m2', ascending=False).head(10)

        place_name property_type  price_per_m2     rooms
100          Nuñez         store  49239.615556       NaN
145       Paternal     apartment  18039.904767  1.765306
175      San Telmo     apartment  15302.031693  2.170270
33           Boedo     apartment  14007.475650  1.238390
167  San Cristobal     apartment  12847.748714  1.754986
29            Boca     apartment  10102.570633  2.615385
230  Villa Urquiza     apartment   9593.228787  2.048193
159         Retiro     apartment   8612.344422  4.185714
27        Belgrano         store   8450.054085  1.000000
123  Palermo Viejo         store   8295.375999       NaN

In [19]:
promedioM2Apartment = datosCapitalByM2[datosCapitalByM2['property_type'] == 'apartment']
promedioM2Apartment.sort_values('price_per_m2', ascending=False).head(10)

        place_name property_type  price_per_m2     rooms
145       Paternal     apartment  18039.904767  1.765306
175      San Telmo     apartment  15302.031693  2.170270
33           Boedo     apartment  14007.475650  1.238390
167  San Cristobal     apartment  12847.748714  1.754986
29            Boca     apartment  10102.570633  2.615385
230  Villa Urquiza     apartment   9593.228787  2.048193
159         Retiro     apartment   8612.344422  4.185714
25        Belgrano     apartment   7358.203449  3.011204
152  Puerto Madero     apartment   6735.583220  3.179577
121  Palermo Viejo     apartment   6659.677244  2.897436

In [20]:
promedioM2House = datosCapitalByM2[datosCapitalByM2['property_type'] == 'house']
promedioM2House.sort_values('price_per_m2', ascending=False).head(10)

            place_name property_type  price_per_m2     rooms
110      Palermo Chico         house   6899.111297       NaN
34               Boedo         house   4368.163741  2.619048
157           Recoleta         house   3962.529988  4.000000
153      Puerto Madero         house   3647.581182  5.000000
79         Las Cañitas         house   3579.891773       NaN
122      Palermo Viejo         house   3392.088768       NaN
26            Belgrano         house   2982.932054  6.050000
106            Palermo         house   2941.678845  4.266667
118       Palermo Soho         house   2904.066067       NaN
114  Palermo Hollywood         house   2900.317399  6.000000

In [21]:

promedioM2PH = datosCapitalByM2[datosCapitalByM2['property_type'] == 'PH']
promedioM2PH.sort_values('price_per_m2', ascending=False).head(10)

            place_name property_type  price_per_m2     rooms
116       Palermo Soho            PH   3355.489758  2.555556
108      Palermo Chico            PH   3159.090909       NaN
24            Belgrano            PH   2953.278108  3.645161
112  Palermo Hollywood            PH   2939.241264  3.363636
77         Las Cañitas            PH   2836.363636  2.500000
104            Palermo            PH   2753.958895  3.500000
53             Coghlan            PH   2753.545317  2.800000
20        Barrio Norte            PH   2732.533618  3.222222
162           Saavedra            PH   2679.971323  3.105263
155           Recoleta            PH   2676.113774  3.500000

In [22]:
promedioM2Store = datosCapitalByM2[datosCapitalByM2['property_type'] == 'store']
promedioM2Store.sort_values('price_per_m2', ascending=False).head(10)

            place_name property_type  price_per_m2  rooms
100              Nuñez         store  49239.615556    NaN
27            Belgrano         store   8450.054085    1.0
123      Palermo Viejo         store   8295.375999    NaN
161             Retiro         store   7529.778639    NaN
158           Recoleta         store   6563.293902    1.0
115  Palermo Hollywood         store   6478.556938    NaN
111      Palermo Chico         store   6214.484608    NaN
154      Puerto Madero         store   6168.710848    NaN
107            Palermo         store   6085.005351    5.0
103               Once         store   5207.274322    NaN

# Precio en relación a superficie cubierta

In [23]:
datosCapitalBySurface = datosCapital.sort_values('surface_covered_in_m2', ascending=False)
datosCapitalBySurface.head(10)

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,total
3835,2014-03-25,sell,store,San Cristobal,|Argentina|Capital Federal|San Cristobal|,Argentina,Capital Federal,"-34.6236204072,-58.40269804",-34.623620,-58.402698,...,298.0,22518.0,1070.469799,14.166445,NaN,NaN,NaN,CODIGO: 464-02 ubicado en: Av. San Juan al 270...,"Local Comercial en Venta en San Cristobal, Cap...",1
135222,2017-07-19,sell,store,Villa Soldati,|Argentina|Capital Federal|Villa Soldati|,Argentina,Capital Federal,"-34.6601221702,-58.4302513174",-34.660122,-58.430251,...,10958.0,10958.0,775.688994,775.688994,NaN,NaN,1.0,C.A.B.A - Villa Soldati - CÓDIGO 0146Excelente...,Excelente Nave Industrial de 10.960 m2 sobre t...,1
132152,2017-07-19,sell,store,Boca,|Argentina|Capital Federal|Boca|,Argentina,Capital Federal,"-34.6443487086,-58.3654248049",-34.644349,-58.365425,...,7722.0,7722.0,1036.001036,1036.001036,NaN,NaN,1.0,C.A.B.A - Boca - PRECIO A CONSULTAR - CÓDIGO 0...,Venta con RENTA. Espectacular depósito premium,1
5217,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5697166865,-58.4881185978",-34.569717,-58.488119,...,8395.0,7415.0,13.936867,15.778827,NaN,NaN,NaN,CODIGO: 129-007 ubicado en: Lebreton 4965 - P...,"Departamento en Venta en Villa Urquiza, Capita...",1
5219,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5728570494,-58.4862112999",-34.572857,-58.486211,...,6730.0,6410.0,18.573551,19.500780,NaN,NaN,NaN,CODIGO: 129-002 ubicado en: Diaz Coldrero 2527...,"Departamento en Venta en Villa Urquiza, Capita...",1
18064,2015-09-09,sell,house,San Telmo,|Argentina|Capital Federal|San Telmo|,Argentina,Capital Federal,"-34.6255912097,-58.3738239783",-34.625591,-58.373824,...,1135.0,5079.0,3171.806167,708.800945,NaN,NaN,NaN,EDIFICIO A TERMINAREste inmueble fue construid...,"Casa 1135m² en Brasil 600, Capital Federal, Sa...",1
150294,2017-07-19,sell,store,San Telmo,|Argentina|Capital Federal|San Telmo|,Argentina,Capital Federal,"-34.6255912097,-58.3738239783",-34.625591,-58.373824,...,5079.0,5079.0,846.623351,846.623351,NaN,NaN,NaN,EDIFICIO A TERMINAREste inmueble fue construid...,Edificio Comercial en San Telmo,1
5216,2014-06-09,sell,apartment,Villa Urquiza,|Argentina|Capital Federal|Villa Urquiza|,Argentina,Capital Federal,"-34.5697166865,-58.4881185978",-34.569717,-58.488119,...,5553.0,5053.0,13.956420,15.337423,NaN,NaN,NaN,CODIGO: 129-006 ubicado en: Lebreton 4965 - P...,"Departamento en Venta en Villa Urquiza, Capita...",1
56324,2016-12-07,sell,store,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6414207082,-58.3740632856",-34.641421,-58.374063,...,5000.0,5000.0,2400.000000,2400.000000,NaN,NaN,NaN,"Inmueble construido sobre fracción de 3.534,00...",Inmueble comercial en venta en Barracas,1
135209,2017-07-19,sell,store,Capital Federal,|Argentina|Capital Federal|,Argentina,Capital Federal,"-34.6025706961,-58.3781475354",-34.602571,-58.378148,...,4800.0,4800.0,1354.166667,1354.166667,NaN,NaN,NaN,Capital Federal - Microcentro - CÓDIGO 0395Edi...,Edificio de oficinas en Block - Microcentro - ...,1

In [24]:
#Supongo que si hay superficie cubierta es menor a la total, hay balcones. Y quiero ver esa diferencia
datosCapitalBalcon = datosCapital[datosCapital['surface_total_in_m2'] > datosCapital['surface_covered_in_m2']]
#datosCapitalBalconFiltered = datosCapitalBalcon[['place_name','property_type', 'price']]
#datosCapitalBalconFiltered.sort_values('price', ascending=False)
datosCapitalBalcon.sort_values('price', ascending=False).head()

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,total
130238,2017-07-19,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Departamento - L.De Nuñez,1
130239,2017-07-19,sell,store,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Departamento - L.De Nuñez,1
130241,2017-07-19,sell,apartment,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,UF 4A CHATEU LIBERTADOR,1
130244,2017-07-19,sell,store,Nuñez,|Argentina|Capital Federal|Nuñez|,Argentina,Capital Federal,"-34.5482214811,-58.4557160557",-34.548221,-58.455716,...,500.0,105.0,5833.284720,476190.476190,NaN,NaN,NaN,Departamento con vista al Rio de la Plata.ESTA...,Local - L.De Nuñez,1
138580,2017-07-19,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,NaN,NaN,NaN,...,296.0,169.0,3830.917162,119638.591716,NaN,NaN,NaN,VENTA DUPLEX DE CATEGORIA DE 4 AMBIENTES CON E...,"VENTA DUPLEX 4 AMBIENTES C/ESCRITORIO, DEPENDE...",1

In [25]:
datosCapitalBalconGP = datosCapitalBalcon.groupby(['place_name','property_type']).mean()
datosCapitalBalconGP = datosCapitalBalconGP[['price_per_m2','price','surface_total_in_m2', 'surface_covered_in_m2']].reset_index()

In [26]:
promedioApartment = datosCapitalBalconGP[datosCapitalBalconGP['property_type'] == 'apartment']
promedioApartment.sort_values('price_per_m2', ascending=False).head(10)

,place_name,property_type,price_per_m2,price,surface_total_in_m2,surface_covered_in_m2
33,Boedo,apartment,16939.216217,6.359839e+05,63.500000,48.500000
166,San Telmo,apartment,16902.339866,6.337633e+05,56.844553,47.883721
137,Paternal,apartment,15108.263158,4.934354e+05,49.989899,43.252525
150,Retiro,apartment,13598.694937,1.351176e+06,150.926829,136.536585
29,Boca,apartment,12084.217539,7.032265e+05,68.487603,56.710744
216,Villa Urquiza,apartment,10382.137800,5.363912e+05,87.775739,74.616718
158,San Cristobal,apartment,9886.273553,3.703809e+05,59.023585,48.754717
25,Belgrano,apartment,8177.719589,7.100034e+05,109.153725,92.110178
115,Palermo Viejo,apartment,7696.763313,4.996090e+05,105.108108,89.054054
58,Colegiales,apartment,7119.722908,3.998558e+05,72.696629,59.617978

In [27]:
promedioApartment = datosCapitalBalconGP[datosCapitalBalconGP['property_type'] == 'house']
promedioApartment.sort_values('price_per_m2', ascending=False).head(10)

,place_name,property_type,price_per_m2,price,surface_total_in_m2,surface_covered_in_m2
105,Palermo Chico,house,6805.659052,3.260769e+06,596.153846,488.230769
148,Recoleta,house,3944.274680,9.200000e+05,312.666667,229.666667
78,Las Cañitas,house,3860.403697,8.850000e+05,304.000000,234.500000
116,Palermo Viejo,house,3392.088768,5.468000e+05,261.800000,158.000000
26,Belgrano,house,3123.058160,1.119971e+06,497.579710,356.391304
108,Palermo Hollywood,house,3048.146834,5.006000e+05,226.000000,152.600000
112,Palermo Soho,house,2904.066067,8.266667e+05,394.500000,285.166667
101,Palermo,house,2800.360564,6.988571e+05,354.142857,260.314286
95,Nuñez,house,2700.053901,5.654444e+05,287.074074,225.111111
217,Villa Urquiza,house,2684.803750,3.584667e+05,224.361111,164.250000

In [28]:
promedioPH = datosCapitalBalconGP[datosCapitalBalconGP['property_type'] == 'PH']
promedioPH.sort_values('price_per_m2', ascending=False).head(10)

,place_name,property_type,price_per_m2,price,surface_total_in_m2,surface_covered_in_m2
110,Palermo Soho,PH,3389.364777,274789.473684,114.736842,84.894737
103,Palermo Chico,PH,3159.090909,695000.000000,348.000000,220.000000
24,Belgrano,PH,3073.362680,321625.714286,156.800000,115.028571
106,Palermo Hollywood,PH,3025.476606,213692.307692,93.230769,72.692308
146,Recoleta,PH,2830.837174,216250.000000,89.500000,76.750000
53,Coghlan,PH,2815.464107,207778.571429,112.000000,81.714286
153,Saavedra,PH,2813.685263,187750.000000,94.071429,71.071429
76,Las Cañitas,PH,2800.000000,280000.000000,110.000000,100.000000
20,Barrio Norte,PH,2780.571941,230666.666667,118.888889,90.222222
99,Palermo,PH,2718.624998,301686.567164,158.388060,113.820896

In [29]:
promedioStore = datosCapitalBalconGP[datosCapitalBalconGP['property_type'] == 'store']
promedioStore.sort_values('price_per_m2', ascending=False).head(10)

,place_name,property_type,price_per_m2,price,surface_total_in_m2,surface_covered_in_m2
96,Nuñez,store,121445.296086,1.316812e+07,498.625,316.500000
117,Palermo Viejo,store,25833.333333,3.100000e+06,194.000,120.000000
149,Recoleta,store,15590.806180,2.454517e+06,191.000,156.666667
102,Palermo,store,10926.313335,1.264344e+06,220.240,184.680000
145,Puerto Madero,store,6965.174129,2.800000e+06,742.000,402.000000
56,Coghlan,store,5312.500000,8.500000e+05,376.000,160.000000
171,Tribunales,store,4591.836735,4.500000e+05,225.000,98.000000
27,Belgrano,store,4518.529242,6.814066e+05,225.000,174.375000
60,Colegiales,store,4320.000000,1.880000e+05,47.500,37.500000
164,San Nicolás,store,4108.504109,1.500000e+06,693.500,395.500000

In [30]:
#Precio promedio expensas por zona
expensas = datosCapital[datosCapital['expenses'] > 100 ]
expensasPorZona =  expensas.groupby(['place_name', 'property_type']).mean()
expensasPorZona = expensasPorZona[['expenses', 'price']].reset_index()
expensasPorZona.sort_values('expenses', ascending=False).head(10)

        place_name property_type       expenses          price
138     Villa Luro     apartment  489287.804878  127570.731707
98        Paternal         store   10450.000000  162500.000000
107         Retiro         store    9300.000000  208333.333333
101  Puerto Madero     apartment    9244.626866  693999.985075
78   Palermo Chico     apartment    8267.421053  670285.263158
19        Belgrano     apartment    7341.127168  381581.573699
104       Recoleta         house    6600.000000  837500.000000
57     Las Cañitas     apartment    6520.647059  347350.000000
102  Puerto Madero         store    6222.000000  418000.000000
10       Balvanera         house    6100.000000  489000.000000

In [31]:
expensasApartment= expensasPorZona[expensasPorZona['property_type'] == 'apartment']
expensasApartment.sort_values('expenses', ascending=False).head(10)

        place_name property_type       expenses          price
138     Villa Luro     apartment  489287.804878  127570.731707
101  Puerto Madero     apartment    9244.626866  693999.985075
78   Palermo Chico     apartment    8267.421053  670285.263158
19        Belgrano     apartment    7341.127168  381581.573699
57     Las Cañitas     apartment    6520.647059  347350.000000
103       Recoleta     apartment    5952.483146  399717.924157
75         Palermo     apartment    4739.424828  330132.135172
106         Retiro     apartment    4559.636364  308506.493506
16    Barrio Norte     apartment    4493.952663  292153.254438
68           Nuñez     apartment    4438.503311  326560.927152

In [32]:

expensasHouse= expensasPorZona[expensasPorZona['property_type'] == 'house']
expensasHouse.sort_values('expenses', ascending=False).head(10)

            place_name property_type     expenses          price
104           Recoleta         house  6600.000000  837500.000000
10           Balvanera         house  6100.000000  489000.000000
118          San Telmo         house  5000.000000  205000.000000
6              Almagro         house  3800.000000  354000.000000
76             Palermo         house  3200.000000  349000.000000
131       Villa Devoto         house  3000.000000  130000.000000
143   Villa Pueyrredón         house  2300.000000  130000.000000
69               Nuñez         house  2000.000000  234000.000000
82   Palermo Hollywood         house  2000.000000  145000.000000
20            Belgrano         house  1713.333333  415500.333333

In [33]:

expensasPH= expensasPorZona[expensasPorZona['property_type'] == 'PH']
expensasPH.sort_values('expenses', ascending=False).head(10)

              place_name property_type     expenses          price
30       Capital Federal            PH  4000.000000  230000.000000
133  Villa General Mitre            PH  1800.000000  102000.000000
71                  Once            PH  1756.000000  148700.000000
18              Belgrano            PH  1693.000000  239300.000000
44              Congreso            PH  1650.000000  140000.000000
36             Chacarita            PH  1500.000000  130000.000000
39               Coghlan            PH  1400.000000  184666.666667
8              Balvanera            PH  1333.333333  167333.333333
74               Palermo            PH  1172.222222  206611.111111
84          Palermo Soho            PH  1162.500000  350000.000000

In [34]:
expensasStore= expensasPorZona[expensasPorZona['property_type'] == 'store']
expensasStore.sort_values('expenses', ascending=False).head(10)

               place_name property_type      expenses          price
98               Paternal         store  10450.000000  162500.000000
107                Retiro         store   9300.000000  208333.333333
102         Puerto Madero         store   6222.000000  418000.000000
35   Centro / Microcentro         store   6000.000000  580000.000000
11              Balvanera         store   5300.000000  420000.000000
83      Palermo Hollywood         store   4800.000000  300000.000000
105              Recoleta         store   4566.533333  568600.000000
32        Capital Federal         store   4542.105263  388315.789474
2                  Abasto         store   4500.000000  125000.000000
27                  Boedo         store   4500.000000  120000.000000

# Habitaciones

In [35]:
#Hay además de departamentos, hoteles. 
#Habría que filtrar todo aquello que NO sea hoteles, o bien, tratarlos como categoría aparte. 
datosCapitalByRooms = datosCapital[pd.isnull(datosCapital['rooms']) != True]
datosCapitalByRooms = datosCapitalByRooms[datosCapitalByRooms['rooms'] < 7]


datosCapitalByRoomsGP = datosCapitalByRooms.groupby(['place_name','property_type']).mean()
datosCapitalByRoomsGPFiltered = datosCapitalByRoomsGP[['rooms','price']].reset_index()
#datosCapitalByRoomsGPFiltered.sort_values('price', ascending=False).head(10)

In [36]:
promedioRoomsAparment = datosCapitalByRoomsGPFiltered[datosCapitalByRoomsGPFiltered['property_type'] == 'apartment']
promedioRoomsAparment.sort_values('rooms', ascending=False).head(10)

        place_name property_type     rooms          price
37       Catalinas     apartment  5.000000  550000.000000
171  Villa Soldati     apartment  3.833333   73166.666667
120         Retiro     apartment  3.617886  486571.991870
86   Palermo Chico     apartment  3.451220  925971.115854
117       Recoleta     apartment  3.435429  516149.674286
114  Puerto Madero     apartment  3.155752  954593.916814
153   Villa Lugano     apartment  3.085714   80897.142857
15    Barrio Norte     apartment  3.082443  349015.109924
19        Belgrano     apartment  2.950758  412708.647727
81            Once     apartment  2.904000  167875.440000

In [37]:
promedioRoomsHouse = datosCapitalByRoomsGPFiltered[datosCapitalByRoomsGPFiltered['property_type'] == 'house']
promedioRoomsHouse.sort_values('rooms', ascending=False).head(10)

              place_name property_type     rooms         price
169     Villa Santa Rita         house  6.000000  4.100000e+05
89     Palermo Hollywood         house  6.000000  1.200000e+06
132            San Telmo         house  6.000000  3.650000e+05
98     Parque Centenario         house  5.500000  4.200000e+05
151  Villa General Mitre         house  5.400000  3.520000e+05
24                  Boca         house  5.375000  2.816250e+05
95     Parque Avellaneda         house  5.000000  2.000000e+05
115        Puerto Madero         house  5.000000  3.450000e+05
72             Monserrat         house  5.000000  2.749000e+05
20              Belgrano         house  4.857143  1.013571e+06

In [38]:
promedioRoomsPH = datosCapitalByRoomsGPFiltered[datosCapitalByRoomsGPFiltered['property_type'] == 'PH']
promedioRoomsPH.sort_values('rooms', ascending=False).head(10)

            place_name property_type     rooms          price
102        Parque Chas            PH  6.000000  280000.000000
111            Pompeya            PH  4.600000  147400.000000
170      Villa Soldati            PH  4.500000  112000.000000
53        Constitución            PH  4.363636  145500.000000
3            Agronomía            PH  4.333333  196666.666667
50            Congreso            PH  4.285714  182857.142857
46          Colegiales            PH  4.173913  255608.695652
96   Parque Centenario            PH  4.111111  249444.444444
80                Once            PH  4.000000  166250.000000
108           Paternal            PH  3.950000  166350.000000

In [39]:
promedioRoomsStore = datosCapitalByRoomsGPFiltered[datosCapitalByRoomsGPFiltered['property_type'] == 'store']
promedioRoomsStore.sort_values('rooms', ascending=False).head(10)

          place_name property_type  rooms     price
17      Barrio Norte         store    6.0  250000.0
85           Palermo         store    5.0  480000.0
73         Monserrat         store    4.0  190000.0
36   Capital Federal         store    3.0  220000.0
148     Villa Devoto         store    3.0  235000.0
49        Colegiales         store    2.0  144900.0
127    San Cristobal         store    2.0   79000.0
10         Balvanera         store    1.0  105000.0
21          Belgrano         store    1.0  750000.0
25              Boca         store    1.0   89000.0

# Cambios por Fecha

In [40]:
#TODO 

# Hacer algo con las distancias

datosCapital['month'] = datosCapital['created_on'].dt.month
datosCapital['year'] = datosCapital['created_on'].dt.year

datosCapitalByYearMonth = datosCapital.groupby(['year','month','property_type']).mean().reset_index()
datosCapitalByYearMonthFiltered = datosCapitalByYearMonth[['year','month','property_type','price']]

apartmentByMonthYear = datosCapitalByYearMonthFiltered[datosCapitalByYearMonth['property_type'] == 'apartment']
apartmentByMonthYear.sort_values(['year','month'], ascending=False)

C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\nicol\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     year  month property_type          price
166  2017      8     apartment  196156.140351
163  2017      7     apartment  420172.931707
159  2017      6     apartment  379507.690442
155  2017      5     apartment  258922.766134
151  2017      4     apartment  358308.487687
147  2017      3     apartment  315141.285205
143  2017      2     apartment  325359.907631
139  2017      1     apartment  261989.808321
135  2016     12     apartment  593521.031193
131  2016     11     apartment  442959.629231
127  2016     10     apartment  237687.836667
123  2016      9     apartment  326907.175439
119  2016      8     apartment  274363.586614
115  2016      7     apartment  374040.184358
111  2016      6     apartment  280255.346154
107  2016      5     apartment  225171.830986
103  2016      4     apartment  207429.773585
99   2016      3     apartment  217195.047619
95   2016      2     apartment  422574.958333
91   2016      1     apartment  183961.050000
87   2015     12     apartment  552765.151515
83   2015     11     apartment  227528.947368
79   2015     10     apartment  201412.076923
75   2015      9     apartment  691676.190476
71   2015      8     apartment  257250.250000
67   2015      7     apartment  164087.032787
63   2015      6     apartment  279635.714286
59   2015      5     apartment  368222.580645
55   2015      4     apartment  408406.057471
51   2015      3     apartment  235504.166667
47   2015      2     apartment  342368.987179
45   2015      1     apartment  103261.904762
42   2014     12     apartment  621100.000000
38   2014     11     apartment  562245.454545
35   2014     10     apartment  101600.000000
31   2014      9     apartment  266900.000000
27   2014      8     apartment  273241.666667
24   2014      7     apartment  167894.117647
20   2014      6     apartment  239412.500000
17   2014      5     apartment  195715.789474
15   2014      4     apartment  115864.285714
12   2014      3     apartment  217612.086957
10   2014      2     apartment  870000.000000
9    2014      1     apartment  252500.000000
8    2013     12     apartment   78000.000000
6    2013     11     apartment  128500.000000
3    2013      7     apartment  162000.000000
1    2013      5     apartment  109000.000000

In [41]:
storeByMonthYear = datosCapitalByYearMonthFiltered[datosCapitalByYearMonth['property_type'] == 'store']
storeByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type         price
168  2017      8         store  2.083333e+05
165  2017      7         store  1.109600e+06
161  2017      6         store  5.613575e+05
157  2017      5         store  4.024407e+05
153  2017      4         store  3.844000e+05
149  2017      3         store  6.939460e+05
145  2017      2         store  2.963750e+05
141  2017      1         store  4.556353e+05
137  2016     12         store  7.033039e+05
133  2016     11         store  4.859375e+05
129  2016     10         store  2.533750e+05
125  2016      9         store  7.605721e+05
121  2016      8         store  2.798269e+05
117  2016      7         store  2.256789e+05
113  2016      6         store  5.776667e+05
109  2016      5         store  4.100000e+05
105  2016      4         store  2.266667e+05
101  2016      3         store  3.105000e+05
97   2016      2         store  3.322500e+05
93   2016      1         store  3.980214e+05
89   2015     12         store  5.227143e+05
85   2015     11         store  2.516667e+05
81   2015     10         store  3.983333e+05
77   2015      9         store  4.983333e+05
73   2015      8         store  4.333333e+05
69   2015      7         store  4.500000e+05
65   2015      6         store  1.600000e+06
61   2015      5         store  4.700000e+05
57   2015      4         store  2.782857e+05
53   2015      3         store  3.417500e+05
49   2015      2         store  2.407500e+05
44   2014     12         store  6.500000e+04
40   2014     11         store  6.415000e+05
33   2014      9         store  4.700000e+05
29   2014      8         store  1.200000e+06
22   2014      6         store  8.064286e+05
14   2014      3         store  4.573688e+05
5    2013      7         store  1.900000e+05

In [42]:
PHByMonthYear = datosCapitalByYearMonthFiltered[datosCapitalByYearMonth['property_type'] == 'PH']
PHByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type          price
162  2017      7            PH  192792.069632
158  2017      6            PH  207629.943503
154  2017      5            PH  182700.000000
150  2017      4            PH  172970.802920
146  2017      3            PH  197738.947368
142  2017      2            PH  198392.500000
138  2017      1            PH  186128.571429
134  2016     12            PH  192852.941176
130  2016     11            PH  169906.896552
126  2016     10            PH  190026.217391
122  2016      9            PH  177235.294118
118  2016      8            PH  174513.888889
114  2016      7            PH  220363.636364
110  2016      6            PH  198600.000000
106  2016      5            PH  125225.000000
102  2016      4            PH  201600.000000
98   2016      3            PH  135519.047619
94   2016      2            PH  214666.666667
90   2016      1            PH  325666.666667
86   2015     12            PH  116800.000000
82   2015     11            PH  158333.333333
78   2015     10            PH  148833.333333
74   2015      9            PH  147500.000000
70   2015      8            PH   99260.869565
66   2015      7            PH  220125.000000
62   2015      6            PH   77833.333333
58   2015      5            PH  245000.000000
54   2015      4            PH  120263.157895
50   2015      3            PH  284777.777778
46   2015      2            PH  214833.333333
41   2014     12            PH   75000.000000
37   2014     11            PH  150000.000000
34   2014     10            PH  185000.000000
30   2014      9            PH   82175.000000
26   2014      8            PH  106500.000000
23   2014      7            PH  123750.000000
19   2014      6            PH  308750.000000
16   2014      5            PH   88000.000000
11   2014      3            PH  169051.724138

In [43]:
houseByMonthYear = datosCapitalByYearMonthFiltered[datosCapitalByYearMonth['property_type'] == 'house']
houseByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type         price
167  2017      8         house  2.860000e+05
164  2017      7         house  4.853822e+05
160  2017      6         house  4.778395e+05
156  2017      5         house  5.561523e+05
152  2017      4         house  5.756596e+05
148  2017      3         house  6.987939e+05
144  2017      2         house  5.941082e+05
140  2017      1         house  5.042202e+05
136  2016     12         house  6.272798e+05
132  2016     11         house  6.162209e+05
128  2016     10         house  5.588389e+05
124  2016      9         house  6.058644e+05
120  2016      8         house  6.891754e+05
116  2016      7         house  5.628333e+05
112  2016      6         house  5.885417e+05
108  2016      5         house  5.946250e+05
104  2016      4         house  5.162143e+05
100  2016      3         house  4.830690e+05
96   2016      2         house  7.055517e+05
92   2016      1         house  3.801818e+05
88   2015     12         house  6.292857e+05
84   2015     11         house  6.088889e+05
80   2015     10         house  3.778333e+05
76   2015      9         house  1.074400e+06
72   2015      8         house  3.565714e+05
68   2015      7         house  6.946429e+05
64   2015      6         house  5.218182e+05
60   2015      5         house  9.911765e+05
56   2015      4         house  7.814000e+05
52   2015      3         house  7.629700e+05
48   2015      2         house  2.461111e+05
43   2014     12         house  4.362500e+05
39   2014     11         house  6.850000e+05
36   2014     10         house  3.200000e+05
32   2014      9         house  3.600000e+05
28   2014      8         house  5.400000e+05
25   2014      7         house  3.100000e+05
21   2014      6         house  3.506250e+05
18   2014      5         house  1.500000e+05
13   2014      3         house  3.573261e+05
7    2013     11         house  3.600000e+05
4    2013      7         house  2.150000e+05
2    2013      5         house  1.900000e+05
0    2012     12         house  1.850000e+05

In [44]:
totalDatosCapitalByYearMonth = datosCapital.groupby(['year','month','property_type']).sum().reset_index()
totalDatosCapitalByYearMonthFiltered = totalDatosCapitalByYearMonth[['year','month','property_type','total']]

totalApartmentByMonthYear = totalDatosCapitalByYearMonthFiltered[totalDatosCapitalByYearMonthFiltered['property_type'] == 'apartment']
totalApartmentByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type  total
166  2017      8     apartment     57
163  2017      7     apartment  10455
159  2017      6     apartment   2103
155  2017      5     apartment   1689
151  2017      4     apartment   2274
147  2017      3     apartment   1122
143  2017      2     apartment    747
139  2017      1     apartment    673
135  2016     12     apartment   1090
131  2016     11     apartment   1300
127  2016     10     apartment    300
123  2016      9     apartment    228
119  2016      8     apartment    254
115  2016      7     apartment    358
111  2016      6     apartment    104
107  2016      5     apartment     71
103  2016      4     apartment    106
99   2016      3     apartment    105
95   2016      2     apartment     48
91   2016      1     apartment     60
87   2015     12     apartment     66
83   2015     11     apartment     38
79   2015     10     apartment     65
75   2015      9     apartment     84
71   2015      8     apartment     40
67   2015      7     apartment     61
63   2015      6     apartment     28
59   2015      5     apartment     31
55   2015      4     apartment     87
51   2015      3     apartment     42
47   2015      2     apartment     78
45   2015      1     apartment     21
42   2014     12     apartment     10
38   2014     11     apartment     22
35   2014     10     apartment      7
31   2014      9     apartment     10
27   2014      8     apartment     12
24   2014      7     apartment     17
20   2014      6     apartment     48
17   2014      5     apartment     19
15   2014      4     apartment      7
12   2014      3     apartment    230
10   2014      2     apartment      1
9    2014      1     apartment      2
8    2013     12     apartment      1
6    2013     11     apartment      2
3    2013      7     apartment      2
1    2013      5     apartment      2

In [45]:
totalHouseByMonthYear = totalDatosCapitalByYearMonthFiltered[totalDatosCapitalByYearMonthFiltered['property_type'] == 'house']
totalHouseByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type  total
167  2017      8         house      3
164  2017      7         house    421
160  2017      6         house    200
156  2017      5         house    151
152  2017      4         house    245
148  2017      3         house    148
144  2017      2         house     97
140  2017      1         house    104
136  2016     12         house     84
132  2016     11         house    158
128  2016     10         house     54
124  2016      9         house     59
120  2016      8         house     57
116  2016      7         house     45
112  2016      6         house     48
108  2016      5         house     16
104  2016      4         house     28
100  2016      3         house     29
96   2016      2         house     29
92   2016      1         house     11
88   2015     12         house     14
84   2015     11         house      9
80   2015     10         house     18
76   2015      9         house     10
72   2015      8         house     14
68   2015      7         house     14
64   2015      6         house     11
60   2015      5         house     17
56   2015      4         house     20
52   2015      3         house    100
48   2015      2         house      9
43   2014     12         house      4
39   2014     11         house      2
36   2014     10         house      1
32   2014      9         house      3
28   2014      8         house      2
25   2014      7         house      2
21   2014      6         house      8
18   2014      5         house      3
13   2014      3         house     23
7    2013     11         house      1
4    2013      7         house      1
2    2013      5         house      3
0    2012     12         house      1

In [46]:
totalPHByMonthYear = totalDatosCapitalByYearMonthFiltered[totalDatosCapitalByYearMonthFiltered['property_type'] == 'PH']
totalPHByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type  total
162  2017      7            PH    517
158  2017      6            PH    177
154  2017      5            PH    186
150  2017      4            PH    137
146  2017      3            PH     95
142  2017      2            PH     80
138  2017      1            PH     70
134  2016     12            PH     68
130  2016     11            PH     87
126  2016     10            PH     46
122  2016      9            PH     34
118  2016      8            PH     36
114  2016      7            PH     22
110  2016      6            PH      5
106  2016      5            PH      4
102  2016      4            PH     13
98   2016      3            PH     21
94   2016      2            PH      3
90   2016      1            PH      3
86   2015     12            PH     10
82   2015     11            PH      9
78   2015     10            PH      6
74   2015      9            PH      2
70   2015      8            PH     23
66   2015      7            PH      4
62   2015      6            PH      6
58   2015      5            PH      6
54   2015      4            PH     19
50   2015      3            PH      9
46   2015      2            PH      6
41   2014     12            PH      3
37   2014     11            PH      2
34   2014     10            PH      1
30   2014      9            PH      4
26   2014      8            PH      4
23   2014      7            PH      4
19   2014      6            PH      4
16   2014      5            PH      1
11   2014      3            PH     29

In [47]:
totalStoreByMonthYear = totalDatosCapitalByYearMonthFiltered[totalDatosCapitalByYearMonthFiltered['property_type'] == 'store']
totalStoreByMonthYear.sort_values(['year','month'], ascending=False)

     year  month property_type  total
168  2017      8         store      3
165  2017      7         store    427
161  2017      6         store    121
157  2017      5         store     86
153  2017      4         store     62
149  2017      3         store     64
145  2017      2         store     32
141  2017      1         store     35
137  2016     12         store    102
133  2016     11         store     88
129  2016     10         store      8
125  2016      9         store     19
121  2016      8         store     26
117  2016      7         store     19
113  2016      6         store      6
109  2016      5         store      7
105  2016      4         store      3
101  2016      3         store      6
97   2016      2         store      4
93   2016      1         store     14
89   2015     12         store      7
85   2015     11         store      3
81   2015     10         store      6
77   2015      9         store      6
73   2015      8         store      9
69   2015      7         store      1
65   2015      6         store      2
61   2015      5         store      2
57   2015      4         store      7
53   2015      3         store      4
49   2015      2         store      4
44   2014     12         store      1
40   2014     11         store     20
33   2014      9         store      8
29   2014      8         store      1
22   2014      6         store      7
14   2014      3         store     16
5    2013      7         store      1

In [63]:
datosCapital.head()

,created_on,operation,property_type,place_name,place_with_parent_names,country_name,state_name,lat-lon,lat,lon,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,description,title,total,month,year
4,2012-12-08,sell,house,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,"-34.6544492346,-58.4895603251",-34.654449,-58.489560,...,616.666667,1796.116505,NaN,5.0,NaN,Casa Multifamiliar en Mataderos!!! Sobre lote ...,CASA EN VENTA,1,12,2012
42,2013-05-05,sell,house,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6514583,-58.3773545",-34.651458,-58.377355,...,921.052632,921.052632,NaN,4.0,NaN,SANTIAGO JANNOT PROP. - - SRA. ALICIA 15-CA...,CASA EN VENTA,1,5,2013
107,2013-05-24,sell,house,Paternal,|Argentina|Capital Federal|Paternal|,Argentina,Capital Federal,"-34.5951191,-58.4653876",-34.595119,-58.465388,...,1329.113924,1050.000000,NaN,4.0,NaN,Hermosa casa en dos plantas reciclada a nueva ...,hermosa propiedad,1,5,2013
162,2013-05-24,sell,apartment,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,"-34.6346787,-58.3710911",-34.634679,-58.371091,...,1333.333333,1333.333333,NaN,2.0,NaN,"Departamento en torre con living comedor,cocin...",Departamento,1,5,2013
189,2013-05-24,sell,apartment,Congreso,|Argentina|Capital Federal|Congreso|,Argentina,Capital Federal,"-34.6101819118,-58.3947372437",-34.610182,-58.394737,...,1642.857143,1746.835443,NaN,3.0,NaN,"EXCELENTE 3 AMBIENTES AL FRENTE, CON BALCN. IM...",EDIFICIO DE EPOCA EN IMPECABLE ESTADO SUPER AM...,1,5,2013

# DISTANCIAS

In [49]:
ferrocarriles = pd.read_csv('resources/estaciones-de-ferrocarril.csv', sep=';')
ferrocarriles.info

<bound method DataFrame.info of           LAT        LNG  ID                NOMBRE  \
0  -34.571334 -58.424295   2          3 DE FEBRERO
1  -34.567571 -58.463056   4            BELGRANO R
2  -34.562549 -58.435864   6  LISANDRO DE LA TORRE
3  -34.558443 -58.449498   7            BELGRANO C
4  -34.548895 -58.462400   8                 NUÑEZ
5  -34.537522 -58.467586   9             RIVADAVIA
6  -34.580456 -58.501732  10            PUEYRREDON
7  -34.574767 -58.487968  11         GRAL. URQUIZA
8  -34.568421 -58.479083  12       DR. L. M. DRAGO
9  -34.565240 -58.475348  13               COGHLAN
10 -34.553583 -58.487369  14        L. M. SAAVEDRA
11 -34.576219 -58.398937  16               SALDIAS
12 -34.578502 -58.426515  20               PALERMO
13 -34.601326 -58.493953  21      VILLA DEL PARQUE
14 -34.596780 -58.466634  22           LA PATERNAL
15 -34.602598 -58.512619  23                DEVOTO
16 -34.665399 -58.448489  24           PRES. ILLIA
17 -34.662182 -58.440839  25         VILLA SOLDATI
18 -34.677205 -58.477043  26          VILLA LUGANO
19 -34.649059 -58.415498  27                 SAENZ
20 -34.644741 -58.395992  28          BUENOS AIRES
21 -34.608325 -58.406733  29    ONCE DE SEPTIEMBRE
22 -34.619066 -58.443529  30             CABALLITO
23 -34.638929 -58.526446  33               LINIERS
24 -34.636244 -58.501691  34            VILLA LURO
25 -34.627581 -58.465298  32                FLORES
26 -34.628611 -58.380518  35          CONSTITUCION
27 -34.644173 -58.382907  36                  SOLA
28 -34.653502 -58.378874  37              YRIGOYEN
29 -34.586953 -58.455464  38      FEDERICO LACROZE
30 -34.593150 -58.494364  39        DR. FCO. BEIRO
31 -34.592447 -58.476278  40           P. N. ARATA
32 -34.590413 -58.466639  41            G. ARTIGAS
33 -34.595541 -58.510395  42        ANTONIO DEVOTO
34 -34.594586 -58.504043  43         EL LIBERTADOR
35 -34.575541 -58.434831   3        MTRO. CARRANZA
36 -34.632203 -58.480222  31              FLORESTA
37 -34.589022 -58.373866  18                RETIRO
38 -34.589748 -58.374724  15                RETIRO
39 -34.590997 -58.375542   1                RETIRO
40 -34.573248 -58.447695   5            COLEGIALES
41 -34.592738 -58.447044  19             CHACARITA
42 -34.598829 -58.368108  45               CORDOBA
43 -34.602244 -58.367426  46            CORRIENTES
44 -34.611417 -58.366500  47              BELGRANO
45 -34.616407 -58.366033  48         INDEPENDENCIA
46 -34.543778 -58.446516  49  CIUDAD UNIVERSITARIA

                                     EMPRESA             LINEA  \
0                 TBA - TRENES DE BS AS S.A.             MITRE
1                 TBA - TRENES DE BS AS S.A.             MITRE
2                 TBA - TRENES DE BS AS S.A.             MITRE
3                 TBA - TRENES DE BS AS S.A.             MITRE
4                 TBA - TRENES DE BS AS S.A.             MITRE
5                 TBA - TRENES DE BS AS S.A.             MITRE
6                 TBA - TRENES DE BS AS S.A.             MITRE
7                 TBA - TRENES DE BS AS S.A.             MITRE
8                 TBA - TRENES DE BS AS S.A.             MITRE
9                 TBA - TRENES DE BS AS S.A.             MITRE
10                TBA - TRENES DE BS AS S.A.             MITRE
11                          FERROVIAS S.A.C.    BELGRANO NORTE
12   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
13   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
14   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
15   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
16  TRANSP. METROPOLITANOS BELGRANO SUR S.A.      BELGRANO SUR
17  TRANSP. METROPOLITANOS BELGRANO SUR S.A.      BELGRANO SUR
18  TRANSP. METROPOLITANOS BELGRANO SUR S.A.      BELGRANO SUR
19  TRANSP. METROPOLITANOS BELGRANO SUR S.A.      BELGRANO SUR
20  TRANSP. METROPOLITANOS BELGRANO SUR S.A.      BELGRANO SUR
21                TBA - TRENES DE BS AS S.A.         SARMIENTO
22                TBA - TRENES DE BS AS S.A.         SARMIENTO
23                TBA - TRENES DE BS AS S.A.         SARMIENTO
24                TBA - TRENES DE BS AS S.A.         SARMIENTO
25                TBA - TRENES DE BS AS S.A.         SARMIENTO
26    TRANSP.  METROPOLITANOS GRAL ROCA S.A.              ROCA
27    TRANSP.  METROPOLITANOS GRAL ROCA S.A.              ROCA
28    TRANSP.  METROPOLITANOS GRAL ROCA S.A.              ROCA
29                            METROVIAS S.A.           URQUIZA
30                            METROVIAS S.A.           URQUIZA
31                            METROVIAS S.A.           URQUIZA
32                            METROVIAS S.A.           URQUIZA
33                            METROVIAS S.A.           URQUIZA
34                            METROVIAS S.A.           URQUIZA
35                TBA - TRENES DE BS AS S.A.             MITRE
36                TBA - TRENES DE BS AS S.A.         SARMIENTO
37   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
38                          FERROVIAS S.A.C.    BELGRANO NORTE
39                TBA - TRENES DE BS AS S.A.             MITRE
40                TBA - TRENES DE BS AS S.A.             MITRE
41   TRANSP.  METROPOLITANOS SAN MARTIN S.A.        SAN MARTIN
42                                       NaN  TRANVIA DEL ESTE
43                                       NaN  TRANVIA DEL ESTE
44                                       NaN  TRANVIA DEL ESTE
45                                       NaN  TRANVIA DEL ESTE
46                          FERROVIAS S.A.C.    BELGRANO NORTE

             LINEA_2            BARRIO     COMUNA
0         F.C.G.B.M.           PALERMO  COMUNA 14
1         F.C.G.B.M.          BELGRANO  COMUNA 13
2         F.C.G.B.M.           PALERMO  COMUNA 14
3         F.C.G.B.M.          BELGRANO  COMUNA 13
4         F.C.G.B.M.             NUÑEZ  COMUNA 13
5         F.C.G.B.M.             NUÑEZ  COMUNA 13
6         F.C.G.B.M.  VILLA PUEYRREDON  COMUNA 12
7         F.C.G.B.M.     VILLA URQUIZA  COMUNA 12
8         F.C.G.B.M.     VILLA URQUIZA  COMUNA 12
9         F.C.G.B.M.           COGHLAN  COMUNA 12
10        F.C.G.B.M.          SAAVEDRA  COMUNA 12
11          F.C.G.B.          RECOLETA   COMUNA 2
12        F.C.G.S.M.           PALERMO  COMUNA 14
13        F.C.G.S.M.  VILLA DEL PARQUE  COMUNA 11
14        F.C.G.S.M.          PATERNAL  COMUNA 15
15        F.C.G.S.M.      VILLA DEVOTO  COMUNA 11
16          F.C.G.B.     VILLA SOLDATI   COMUNA 8
17          F.C.G.B.     VILLA SOLDATI   COMUNA 8
18          F.C.G.B.      VILLA LUGANO   COMUNA 8
19          F.C.G.B.     NUEVA POMPEYA   COMUNA 4
20          F.C.G.B.          BARRACAS   COMUNA 4
21        F.C.D.F.S.         BALVANERA   COMUNA 3
22        F.C.D.F.S.         CABALLITO   COMUNA 6
23        F.C.D.F.S.           LINIERS   COMUNA 9
24        F.C.D.F.S.        VILLA LURO  COMUNA 10
25        F.C.D.F.S.            FLORES   COMUNA 7
26          F.C.G.R.      CONSTITUCION   COMUNA 1
27          F.C.G.R.          BARRACAS   COMUNA 4
28          F.C.G.R.          BARRACAS   COMUNA 4
29          F.C.G.U.         CHACARITA  COMUNA 15
30          F.C.G.U.         AGRONOMIA  COMUNA 15
31          F.C.G.U.         AGRONOMIA  COMUNA 15
32          F.C.G.U.         CHACARITA  COMUNA 15
33          F.C.G.U.      VILLA DEVOTO  COMUNA 11
34          F.C.G.U.      VILLA DEVOTO  COMUNA 11
35        F.C.G.B.M.           PALERMO  COMUNA 14
36        F.C.D.F.S.          FLORESTA  COMUNA 10
37        F.C.G.S.M.            RETIRO   COMUNA 1
38          F.C.G.B.            RETIRO   COMUNA 1
39        F.C.G.B.M.            RETIRO   COMUNA 1
40        F.C.G.B.M.        COLEGIALES  COMUNA 13
41        F.C.G.S.M.         CHACARITA  COMUNA 15
42  TRANVIA DEL ESTE     PUERTO MADERO   COMUNA 1
43  TRANVIA DEL ESTE     PUERTO MADERO   COMUNA 1
44  TRANVIA DEL ESTE     PUERTO MADERO   COMUNA 1
45  TRANVIA DEL ESTE     PUERTO MADERO   COMUNA 1
46          F.C.G.B.          BELGRANO  COMUNA 13  >

In [18]:
subtes = pd.read_csv('resources/estaciones-de-subte.csv', encoding='UTF-8')
subtes['lat-subte'] = subtes['Y']
subtes['lon-subte'] = subtes['X']
subtes.head(100)

,X,Y,ID,ESTACION,LINEA,lat-subte,lon-subte
0,-58.398928,-34.635750,1.0,CASEROS,H,-34.635750,-58.398928
1,-58.400970,-34.629376,2.0,INCLAN,H,-34.629376,-58.400970
2,-58.402323,-34.623092,3.0,HUMBERTO 1°,H,-34.623092,-58.402323
3,-58.404732,-34.615242,4.0,VENEZUELA,H,-34.615242,-58.404732
4,-58.406036,-34.608935,5.0,ONCE - 30 DE DICIEMBRE,H,-34.608935,-58.406036
5,-58.380574,-34.604245,6.0,9 DE JULIO,D,-34.604245,-58.380574
6,-58.397924,-34.599757,7.0,FACULTAD DE MEDICINA,D,-34.599757,-58.397924
7,-58.385142,-34.601587,8.0,TRIBUNALES - TEATRO COLÓN,D,-34.601587,-58.385142
8,-58.407161,-34.591628,9.0,AGÜERO,D,-34.591628,-58.407161
9,-58.415955,-34.585156,10.0,R.SCALABRINI ORTIZ,D,-34.585156,-58.415955
10,-58.421196,-34.581411,11.0,PLAZA ITALIA,D,-34.581411,-58.421196
11,-58.425711,-34.578422,12.0,PALERMO,D,-34.578422,-58.425711
12,-58.374018,-34.591194,13.0,RETIRO,C,-34.591194,-58.374018
13,-58.378156,-34.601770,14.0,LAVALLE,C,-34.601770,-58.378156
14,-58.379530,-34.604844,15.0,DIAGONAL NORTE,C,-34.604844,-58.379530
15,-58.380611,-34.608983,16.0,AV. DE MAYO,C,-34.608983,-58.380611
16,-58.380444,-34.612617,17.0,MORENO,C,-34.612617,-58.380444
17,-58.380174,-34.618126,18.0,INDEPENDENCIA,C,-34.618126,-58.380174
18,-58.381434,-34.627619,19.0,CONSTITUCION,C,-34.627619,-58.381434
19,-58.375072,-34.603297,20.0,FLORIDA,B,-34.603297,-58.375072
20,-58.380715,-34.603637,21.0,C. PELLEGRINI,B,-34.603637,-58.380715
21,-58.387296,-34.604094,22.0,URUGUAY,B,-34.604094,-58.387296
22,-58.392314,-34.604420,23.0,CALLAO,B,-34.604420,-58.392314
23,-58.399474,-34.604643,24.0,PASTEUR - AMIA,B,-34.604643,-58.399474
24,-58.405399,-34.604581,25.0,PUEYRREDON,B,-34.604581,-58.405399
25,-58.411763,-34.604080,26.0,CARLOS GARDEL,B,-34.604080,-58.411763
26,-58.420962,-34.603165,27.0,MEDRANO,B,-34.603165,-58.420962
27,-58.431274,-34.602162,28.0,ANGEL GALLARDO,B,-34.602162,-58.431274
28,-58.439771,-34.598967,29.0,MALABIA - OSVALDO PUGLIESE,B,-34.598967,-58.439771
29,-58.447573,-34.591718,30.0,DORREGO,B,-34.591718,-58.447573
...,...,...,...,...,...,...,...
56,-58.377819,-34.595057,57.0,SAN MARTIN,C,-34.595057,-58.377819
57,-58.379921,-34.621917,58.0,SAN JUAN,C,-34.621917,-58.379921
58,-58.450278,-34.636389,59.0,MEDALLA MILAGROSA,E,-34.636389,-58.450278
59,-58.426789,-34.627015,60.0,AV. LA PLATA,E,-34.627015,-58.426789
60,-58.415533,-34.625366,61.0,BOEDO,E,-34.625366,-58.415533
61,-58.435014,-34.575178,62.0,MINISTRO CARRANZA,D,-34.575178,-58.435014
62,-58.444668,-34.570012,63.0,OLLEROS,D,-34.570012,-58.444668
63,-58.452126,-34.566215,64.0,JOSE HERNANDEZ,D,-34.566215,-58.452126
64,-58.456489,-34.562309,65.0,JURAMENTO,D,-34.562309,-58.456489
65,-58.455029,-34.587198,66.0,FEDERICO LACROZE,B,-34.587198,-58.455029
66,-58.461652,-34.643312,67.0,PLAZA DE LOS VIRREYES - EVA PERON,E,-34.643312,-58.461652
67,-58.457892,-34.640137,68.0,VARELA,E,-34.640137,-58.457892
68,-58.373956,-34.607802,69.0,CATEDRAL,D,-34.607802,-58.373956
69,-58.370968,-34.608810,70.0,PLAZA DE MAYO,A,-34.608810,-58.370968
70,-58.462378,-34.555642,71.0,CONGRESO DE TUCUMAN,D,-34.555642,-58.462378
71,-58.369930,-34.602989,72.0,LEANDRO N. ALEM,B,-34.602989,-58.369930
72,-58.466227,-34.584095,73.0,TRONADOR - VILLA ORTÚZAR,B,-34.584095,-58.466227
73,-58.474241,-34.581249,74.0,DE LOS INCAS -PQUE. CHAS,B,-34.581249,-58.474241
74,-58.456710,-34.626667,75.0,CARABOBO,A,-34.626667,-58.456710
75,-58.448648,-34.623529,76.0,PUAN,A,-34.623529,-58.448648
76,-58.405450,-34.604490,77.0,CORRIENTES,H,-34.604490,-58.405450
77,-58.405795,-34.638406,78.0,PARQUE PATRICIOS,H,-34.638406,-58.405795
78,-58.412385,-34.641269,79.0,HOSPITALES,H,-34.641269,-58.412385
79,-58.481014,-34.577797,80.0,ECHEVERRÍA,B,-34.577797,-58.481014
80,-58.486385,-34.574319,81.0,JUAN MANUEL DE ROSAS - VILLA URQUIZA,B,-34.574319,-58.486385
81,-58.469640,-34.630707,83.0,SAN PEDRITO,A,-34.630707,-58.469640
82,-58.463541,-34.629087,82.0,SAN JOSÉ DE FLORES,A,-34.629087,-58.463541
83,-58.403721,-34.598455,84.0,CÓRDOBA,H,-34.598455,-58.403721
84,-58.397216,-34.587462,85.0,LAS HERAS,H,-34.587462,-58.397216
85,-58.402376,-34.594525,86.0,SANTA FE - CARLOS JAUREGUI,H,-34.594525,-58.402376

In [42]:
from geopy.distance import vincenty


puertoMadero = datosCapital[datosCapital['place_name'] == 'Puerto Madero']
puertoMadero = puertoMadero.loc[puertoMadero['lat'].notnull(),:]
puertoMadero = puertoMadero.loc[puertoMadero['lon'].notnull(),:]

puertoMadero['lat-barrio'] = puertoMadero['lat']
puertoMadero['lon-barrio'] = puertoMadero['lon']


miCasa = (-34.598083,-58.404404)

#def calcularVincenty(df, distToCompare, estacion, linea):
#        df['vincenty'] = vincenty(dist,distToCompare).km
#        df['estacion'] = estacion
#        df['linea'] = linea
#    return df

lstVincenty = []
subtesChico = subtes.head(5)
pChico = puertoMadero.head(10)
#for index, subteRow in subtesChico.iterrows():
#    subteDist = (subteRow['lat'], subteRow['lon'])
#    lstVincenty = pChico.apply(lambda pmRow: pd.Series({'vincenty':vincenty((pmRow['lat'], pmRow['lon']),subteDist).km, 'estacion':subteRow['ESTACION']}), axis=1)
    #lstVincenty.append(puertoMadero.head(10).apply(lambda pmRow: pd.Series({'vincenty':vincenty((pmRow['lat'], pmRow['lon']),subteDist).km, 'estacion':subteRow['ESTACION']}), axis=1)) 
    
    
    
    
    
    #puertoMadero['vincenty'] = puertoMadero.apply(lambda pmRow: (vincenty((pmRow['lat'], pmRow['lon']),subteDist).km), axis=1)
    #vicenty = puertoMadero.apply(lambda pmRow: pd.Series({'vincenty':vincenty((pmRow['lat'], pmRow['lon']),subteDist).km, 'estacion':subteRow['ESTACION']}), axis=1) 
    #vicenty.columns = ['estacion', 'vicenty']
    #pm = puertoMadero.join(vicenty)

dfVincenty = pd.merge(puertoMadero.assign(A=1), subtes.assign(A=1), on='A').drop('A', 1)


print(vincenty().km)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [43]:
espaciosVerdes = pd.read_csv('resources/espacios-verdes-catastrales.csv')
espaciosVerdes['cantidad'] = 1