In [1]:
import pandas as pd

datos = pd.read_csv('resources/properati-AR-2017-08-01-properties-sell.csv')

datos.describe()

,geonames_id,lat,lon,price,price_aprox_local_currency,price_aprox_usd,surface_total_in_m2,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses
count,1.583180e+05,118761.000000,118761.000000,1.544430e+05,1.544430e+05,1.544430e+05,125027.000000,152420.000000,1.050240e+05,1.316650e+05,14294.000000,80320.000000,1.752000e+04
mean,3.560821e+06,-34.775631,-59.207578,4.402848e+05,4.298946e+06,2.436423e+05,297.023707,146.026630,1.980865e+03,6.125528e+03,14.584301,3.087276,4.872184e+03
std,3.442029e+05,2.071562,2.293300,1.915257e+06,6.870371e+06,3.893775e+05,2072.795972,2617.149603,4.624897e+03,2.567322e+04,103.573137,1.754502,1.105076e+05
min,3.427208e+06,-54.833014,-75.678931,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000e+00,6.275958e-02,1.000000,1.000000,1.000000e+00
25%,3.430116e+06,-34.729040,-58.718531,1.050000e+05,1.552716e+06,8.800000e+04,52.000000,47.000000,1.024065e+03,1.475000e+03,1.000000,2.000000,8.900000e+02
50%,3.433359e+06,-34.604154,-58.483665,1.800000e+05,2.558452e+06,1.450000e+05,95.000000,80.000000,1.675000e+03,2.096774e+03,3.000000,3.000000,1.800000e+03
75%,3.832260e+06,-34.457223,-58.383317,3.950000e+05,4.728726e+06,2.680000e+05,246.000000,160.000000,2.356604e+03,3.164667e+03,6.000000,4.000000,3.800000e+03
max,6.948895e+06,4.545843,-40.149218,6.500000e+08,8.212711e+08,4.654544e+07,200000.000000,987897.000000,1.271027e+06,4.000000e+06,3150.000000,40.000000,1.000150e+07